
.Statistics {
    position: relative;
    background-color: #f0f1f6;
    margin-top: 100px;
    min-height: 80vb;
}

.Statistics .formation form {
    position: relative;
    top: -50px;
    width: 70%;
    margin: 20px auto;
    background-color: #4a406b;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.Statistics .formation form input[type="text"] {
    border: none;
    width: 70%;
    padding: 10px 20px;
    border-radius: inherit;
    outline: none;
}
.Statistics .formation form input[type="submit"] {
    border: none;
    width: 25%;
    background-color: #2cd0d1;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    padding: 5px 24px;
}


.Statistics .info {
    text-align: center;
    margin: 40px 0;
}
.Statistics .info h3{
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.Statistics .info p{
    width: 30%;
    margin: 0 auto;
    opacity: .7;
}


.content {
    margin: 0 25px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    gap: 20px;
    min-height: 300px;
}

.content::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #2ecfcf;
    height: 10px;
    width: 90%;
    z-index: 2;
}

.content .box {
    position: relative;
    background-color: white;
    border-radius: 6px;
    padding: 40px 20px 20px 20px;
    height: 200px;
    z-index: 5;
    height: 200px;
}
.content .box img {
    position: absolute;
    top: -45px;
    width: 150px;
    border-radius: 40px;
}
.content .box h4 {
    margin-top: 40px;
}
.content .box2 {
    margin-top: 50px;
}
.content .box3 {
    margin-top: 100px;
}

.content .box p {
    opacity: .6;
}